a  {
            text-decoration: none;
            color:black;
            }

body {
  margin: 0;
  padding: 0;
  background-image:url("../images/mtb-utrechtseheuvelrug-pieter-van-leeuwen-hoge-vuursche.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
}

h1{color: Green;}
       a  {
            text-decoration: none;
            color:black;
         
          }

body {
  margin: 0;
  padding: 0;
  text-align: center;
}
