h1 {
  color: green;
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3{
  font-size: 30px;
}

p {
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image:url("../images/mtb-utrechtseheuvelrug-pieter-van-leeuwen-hoge-vuursche.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a  {
    text-decoration: none;
    color:black;
}

.content {
  margin: 0 10vw 10vw;
  padding: 24px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9);
  min-height: calc(100vh - 60px - 10vw);
}

.navbalk {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: rgb(8, 112, 8); 
  height: 60px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  padding: 10px 20px; 
  background-color: rgb(8, 112, 8);
  transition: background-color 0.3s;
}

img {
  max-width: 100%;
  height: auto;
}


@media screen and (max-width: 615px) {
  .navbalk {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px;
    height: auto;
  }

  .navbalk .nav-item {
    font-size: 18px;
    padding: 8px 12px;
    background-color: transparent;
    width: auto;
    box-sizing: border-box;
    text-align: center;
    flex: 1 1 140px;
    min-width: 120px;
  }
}

@media screen and (max-width: 425px) {
  .navbalk {
    flex-direction: column; 
    justify-content: center;
    align-items: stretch;
    padding: 8px 0;
    height: auto;
    gap: 8px;
  }

  .navbalk .nav-item {
    font-size: 16px;
    padding: 8px 12px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }

  .content {
    min-height: calc(100vh - 96px - 10vw);
    margin: 0 5vw 10vw;
    padding: 16px;
  }
}
